
@{
    ViewData["Title"] = "index";
    Layout = "_Layout";
}


        @*Start Body*@
        <center>
            <Main class="w-100 my-5 text-white">
            <h1>Welcome to Home Page</h1>
            </Main>
        </center>
        @*End Body*@
